@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .text-shadow {
        text-shadow: 3px 3px 3px theme('colors.textShadowDark');
    }
    .text-shadow-sm {
        text-shadow: 2px 2px 2px theme('colors.textShadowDark');
    }
    .text-shadow-md {
        text-shadow: 4px 4px 4px theme('colors.textShadowDark');
    }
    .text-shadow-lg {
        text-shadow: 5px 5px 5px theme('colors.textShadowDark');
    }
    .bg-custom-slate-arc {
        background-color: rgb(148, 163, 184);
        background-image: radial-gradient(at 50% 90%, rgb(17, 24, 39) 0, transparent 100%), radial-gradient(at 64% 47%, rgb(17, 24, 39) 0, transparent 100%), radial-gradient(at 35% 47%, rgb(17, 24, 39) 0, transparent 100%);
    }
}

@layer base {
    @font-face {
        font-family: 'Rockwell-ExtraBold';
        src: url('/fonts/Rockwell-ExtraBold.otf') format('otf');
        font-weight: 400;
        font-display: swap;
        font-style: normal;
    }
}

.toggle-nav {
    max-width: 1000px;
    opacity: 0;
}